  {%load static%}
  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <a href="#intro" class="scrollto"><img src="{% static 'img/logo.png'%}" alt="" title=""></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="{% url 'index' %}">Home</a></li>
          <li><a href="index.html#about">About</a></li>
          <li><a href="#speakers">Speakers</a></li>
          
          <li><a href="{% url 'manage' %}">Manage</a></li>
          
          <li><a href="{% url 'attendance' %}">Take Attendance</a></li>
          <li><a href="{% url 'index' %}">History</a></li>
            {% if user.is_authenticated %}

              <li><a href="">Welcome {{ user.username }}</a></li>
              <li><a href="javascript:{document.getElementById('logout').submit()}" class="nav-link">
                <i class="fas fa-sign-out-alt"></i> Logout
              </a>
              <form action="{% url 'logout' %}" method="POST" id="logout">
                {% csrf_token %}
                <input type="hidden">
              </form>
            </li>            
              
            {% else %}
            <li><a href="{% url 'login' %}">Log in </a></li>
            <li><a href="{% url 'register' %}">Sign Up</a></li>  
            {% endif %}

          <li class="buy-tickets"><a href="#buy-tickets">Buy Tickets</a></li>

        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->