  {%load static%}
  <!--==========================
    Header
  ============================-->
  <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <!-- Uncomment below if you prefer to use a text logo -->
        <!-- <h1><a href="#main">C<span>o</span>nf</a></h1>-->
        <a href="#intro" class="scrollto"><img src="{% static 'img/logo.png'%}" alt="" title=""></a>
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#intro">Home</a></li>
          <li><a href="index.html#about">About</a></li>
          <li><a href="#speakers">Speakers</a></li>
          <li><a href="signUp.html">Sign Up</a></li>
          <li><a href="manage.html">Manage</a></li>
          <li><a href="LogIn.html">Log in </a></li>
          <li><a href="takeAttendance.html">Take Attendance</a></li>
          <li><a href="history.html">History</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="buy-tickets"><a href="#buy-tickets">Buy Tickets</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->