{% extends 'base.html' %}
{% load static %}

{% block cssstyle%}
<style>
    body {
        padding-top: 140px;
      }
    #header {
        background: rgba(6, 12, 34, 0.98);
    }
    #footer{
    margin: 75px 0px 0px  0px;
    }
</style>
<script src="{% static 'js/manageSignin.js' %} "></script>

{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <h1 class="mt-1 col-md-6" id="id1">Log In to Your Account !</h1>
        </div>
        <div class="col-md-6">

            <form class="form-horizontal" action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                <div class="mt-4 col-md-12">
                    <div class="control-group">
                        <label class="control-label" for="email">email</label>
                        <div class="controls">
                            <input type="email" id="companyEmail" name="email" placeholder=""
                                class="form-control input-lg">
                        </div>
                    </div>
                </div>

                <div class="mt-4 col-md-12">
                    <div class="control-group">
                        <label class="control-label" for="password">Password</label>
                        <div class="controls">
                            <input type="password" id="companyPassword" name="password" placeholder=""
                                class="form-control input-lg">
                        </div>
                    </div>
                </div>

                <div class="mt-4 col-md-12">
                    <div class="control-group">
                        <!-- Button -->
                        <div class="controls">
                                <button  onclick="signInCompany()" type="button" class="btn btn-success">Log in</button>
                                <span class="alert alert-success" role="alert" id='messageDiv1' style="display: none;
                                        z-index:1001;text-align: center; padding: 15px 40px; font-size: large;">
                                </span>                       
                             </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>
{% endblock %}